<!DOCTYPE html>
<html>

<head>
  <title>Movie List</title>
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet" />
  <link rel="stylesheet" href="/public/style.css">
</head>

<script src="/public/client.js"></script>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

<body>
  <center>

    <div class="night">
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
    </div>

    <header>
      <h1>Movies to watch</h1>
    </header>
    <br>
    <div id="movieui">
      <h2>Enter name and movie</h2>

      <form action="/api/movie" method="post" id="newMovieForm" class="border">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Name" style="width: 295px">
        <label for="newMovieToAdd">New Movie</label>
        <input type="text" id="newMovieToAdd" name="movie" placeholder="Movie" style="width: 295px">
        <input type="checkbox" name="watched" id="watched" style="width: 295px">
        <label for="whereToFind">Where</label>
        <input type="text" id="whereToFind" name="where" placeholder="Where" style="width: 295px">
        <button type="submit" value="Submit" id="newMovie">Submit New Movie!</button>
        <code style="color: rgb(172, 190, 189);" id="errResult"></code>
      </form>


      <form style="text-align: left; color: rgb(172, 190, 189);" id="display">
        <button type="submit" value="Submit">Display</button>
        <div style="color: rgb(172, 190, 189);" id="movieDetail" class="border">
          <p style="color: rgb(172, 190, 189);" id="detailMovie">Movie List</p>
          <ol name="watch" style="text-align: left" id="movieList"></ol>
          <code style="color: rgb(172, 190, 189);" id="jsonResult"></code>
        </div>
      </form>

    </div>

    <div class="night">
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
      <div class="shooting_star"></div>
    </div>

  </center>
</body>

</html>
