<!DOCTYPE html>
<html>

<head>
  <title>Movie List</title>
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8" />
  <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet" />
  <link rel="stylesheet" href="/public/style.css" />
</head>

<body>
  <table>
    <tr>
      <th>
        <div>
          <h1>Movies to watch</h1>
        </div>
      </th>
    </tr>
    <!--<tr>
      <th>
        <div id="movieui">
          <h2>Enter name and movie</h2>
        </div>
      </th>
    </tr>-->
    <tr>
      <th>
        <form action="/api/movies" method="POST" id="newMovieForm" class="border">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" placeholder="Name*" style="width: 295px" />
          <label for="newMovieToAdd">New Movie</label>
          <input type="text" id="newMovieToAdd" name="movie" placeholder="Movie*" style="width: 295px" />
          <label for="whereToFind">Where</label>
          <input type="text" id="whereToFind" name="where" placeholder="Where to Watch it*" style="width: 295px" />
          <button type="submit" value="submit" id="newMovie">Submit New Movie!</button>
          <br />
          <code id="errResult"></code>
        </form>
      </th>
    </tr>
    <tr>
      <th>
        <p style="color: rgb(77, 183, 245); font-size: 25px" id="detailMovie">Movie List</p>
      </th>
    </tr>
    <tr>
      <th>
        <div style="color: rgb(236, 22, 57)" id="movieDetail" class="border">
          <div action="/api/movies" method="GET"
            style="text-align: left; color: rgb(0, 137, 216); font-size: 18px" id="display"></div>
        </div>
      </th>
    </tr>
  </table>
</body>

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

<script>
  $(document).ready(function () {
    let items = [];
    let itemsRaw = [];

    $.getJSON("/api/movies", function (data) {
      itemsRaw = data;
      $.each(data, function (i, val) {
        items.push(
          '<li class="movieList" id="' +
          i +
          '">' +
          val.name +
          " - " +
          val.movie +
          " - " +
          val.where +
          " - " +
          val.watched +
          "</li>"
        );
        return i
      });
      $("<ol/>", {
        class: "listWrapper",
        html: items.join(""),
      }).appendTo("#display");
    });

    $("#newMovieForm").submit((e) => {
      e.preventDefault();
      $.ajax({
        url: "/api/movies",
        type: "POST",
        dataType: "json",
        data: $("#newMovieForm").serialize(),
        success: (d) => {
          $("#newMovieForm").submit = setTimeout(function () {
            location.reload(true);
          }, 750);
          $("#errResult").text(JSON.stringify(d))
        },
      });
    });
  });
</script>

</html>