body {
  height: auto;
  font-family: sans-serif;
  background: #b2feff
}

h1 {
  font-weight: bold;
  display: block;
  margin-left: 40vw;
  margin-top: 5vh;
}

.form1 {
  padding: 15px;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  height: auto;
  width: 20vw;
  border-radius: 5px;
  text-align: center;
  display: block;
  margin-left: 40vw;
  margin-top: 1vh;
}

.form2 {
  padding: 15px;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  height: auto;
  width: 20vw;
  border-radius: 5px;
  text-align: center;
  display: block;
  margin-left: 40vw;
  margin-top: 1vh;
}

.form3 {
  padding: 15px;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  height: auto;
  width: 20vw;
  max-width: 20vw;
  border-radius: 5px;
  text-align: center;
  display: block;
  margin-left: 40vw;
  margin-top: 1vh;
  overflow: auto
}

.submit {
  text-align: center;
}

input {
  margin-bottom: 10px;
  padding: 3px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

input[type="submit"] {
  font-size: 16px;
  border-radius: 3px;
  background-color: #E4F1FE;
  border: 1px solid grey;
  box-shadow: 2px 2px #999;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #FFFEC4;
}
