html {
  height: 100%;
  /* max-height: 600px; */
  width: 1000px;
  background-color: hsla(200, 40%, 30%, .4);
  background-image:
    url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'),
    url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
    url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
    url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
    url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
  background-repeat: repeat-x;
  background-position:
    0 20%,
    0 100%,
    0 50%,
    0 100%,
    0 0;
  background-size:
    2500px,
    800px,
    500px 200px,
    1000px,
    400px 260px;
  animation: 50s para infinite linear;
}

@keyframes para {
  100% {
    background-position:
      -5000px 20%,
      -800px 95%,
      500px 50%,
      1000px 100%,
      400px 0;
  }
}

body {
  position: absolute;
  /* left: 50%; */
  top: 50%;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  font-family: 'Anton', sans-serif;
  justify-content: center;
  align-items: center;
}

h1 {
  color: rgb(23, 96, 206);
  margin-top: -100%
}

h2 {
  color: rgb(23, 96, 206);
  margin-top: 0%
}

form {
  padding: 5px;
  background: linear-gradient(0deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(253, 187, 45, 1) 100%);
  height: auto;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  width: 100%;
  max-width: 300px;
}

.submit {
  text-align: center;
}

input {
  margin-bottom: 5px;
  padding: 3px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

input[type="submit"] {
  font-size: 16px;
  border-radius: 3px;
  background-color: #E4F1FE;
  border: 1px solid grey;
  box-shadow: 2px 2px #999;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #FFFEC4;
}

.border {
  border-style: solid;
  border-width: 1px;
  margin: 10px;
}

#movieui {
  max-width: 600px;
  height: 100vh;
}

label {
  display: block;
  font-weight: bold;
}